<div class="experience">
    <h2>Experience</h2>
    <div class="job">
      <h3>Flutter Developer - ReddeR LLC</h3>
      <p class="date">2023 - Present</p>
      <ul>
        <li>Key contributor in addressing complex business challenges by developing innovative mobile applications.</li>
        <li>Led the development of a logistics app, improving operational efficiency and customer experience.</li>
      </ul>
    </div>
    <div class="job">
      <h3>Flutter Developer - Freelancer</h3>
      <p class="date">2023 - Present</p>
      <ul>
        <li>Worked on developing a mobile app to locate EasyGas service branches.</li>
        <li>Created user-friendly interfaces to enhance customer service.</li>
      </ul>
    </div>
  </div>
  